body{
	margin: 0;
	padding: 0;

	background-color: black;
	background: url(bg.jpg);
	background-position: center;
	background-attachment: fixed ;important!
	background-repeat: no-repeat;
	background-size: cover;

	color: white;

	width: 100%;
	height: 100%;

	font-family: 'Open Sans', sans-serif;
}

.content{
	display: table;
	
	position: absolute;

	width: 70%;
	height: 70%;

	top: 15%;
	left: 15%;

	margin: 0 auto;

	/*background-color: rgba(0,0,0, 0.3);*/

	text-align: center;
}

.mise{
	display: block;
	width: 100%;
	height: 150px;

	text-align: center;

	border: 2px solid white;

	margin: 2% auto;
	padding: 2% auto;
	background-color: rgba(0,0,0, 0.3);
	/*background-color: blue;*/
	font-size: 25px;

	line-height: 70px;
}

#somme{
	height: 50px;
	font-size: 40px;
}

h1{
	margin: 0 0;
}

h1, h2{
	color: yellow;
	text-shadow: 2px 2px 4px black;
}

.match1{
	display: block;
	float: left;

	width: 50%;
	height: auto;
	line-height: 20px;
	margin: 2% auto;
	padding: 5% auto;

	/*background-color: yellow;*/
/*background-color: rgba(0,0,0, 0.3);*/
	/*border: 2px solid white;*/
}

.match2{
	display: block;
	float: left;

	width: 50%;
	height: auto;
	line-height: 20px;
	margin: 2% auto;
	padding: 5% auto;

	/*background-color: red;*/
/*background-color: rgba(0,0,0, 0.3);*/
	/*border: 2px solid white*/
}

.contenumatch{
	width: 95%;
	height: 210px;
	line-height: 20px;
	margin: 0 auto;
	background-color: rgba(0,0,0, 0.3);
	border: 2px solid white;
}

h2{
	margin: 1% auto;
	padding: auto;
}

.valid{
	display: block;
	float: left;

	width: 100%;
	height: 100px;

	line-height: 110px;
/*background-color: rgba(0,0,0, 0.3);*/
	margin: 1% auto;

	/*background-color: green;*/




}

.result{
	display: block;
	float: left;

	width: 48%;
	height: auto;

	margin: 2% 0.7%;
	padding: 3% auto;

	border: 2px solid white;
background-color: rgba(0,0,0, 0.3);
	/*background-color: pink;*/


}

.gains{
	display: block;
	float: left;

	width: 48%;
	height: auto;

	margin: 2% 0.7%;
	padding: 3% auto;

	border: 2px solid white;
background-color: rgba(0,0,0, 0.3);
	/*background-color: white;*/

}

input{
	margin: 0 auto;
	text-align: center;
	width: 90%;
	height: 25px;
	font-size: 25px;
	font-weight: bold;
}

#grosbouton{
	height: 90px;
	font-size: 40px;

	cursor: pointer;

	box-shadow: 2px 2px 10px darkgreen;
}

#mise1, #mise2, #mise3, #gains, #benefice, #gains2, #benefice2{
	font-weight: bolder;
	font-size: 20px;
}

.win{
	color: lightgreen;
	text-shadow: 2px 2px 4px black;
	/*float: left;*/
	font-size: 25px;

}

.lose{
	color: red;
	text-shadow: 2px 2px 4px black;
	/*float: left;*/
	font-size: 25px;
}

.ponctuation{
	color: yellow;
	text-shadow: 2px 2px 4px black;
	/*float: left;*/
	font-size: 18px;
}

#mise4, #mise5{
	float: left;
}

.left{
	width: 49%;
	height: 50px;
	float: left;
	text-align: right;
	/*background-color: red;*/
	line-height: 20px;
	/*font-size: 15px;*/
	padding-right: 1%;
}

.right{
	width: 49%;
	height: 50px;
	float: left;
	/*background-color: olive;*/
	line-height: 50px;
	font-size: 25px;
	padding-left: 1%;
	text-align: left;
}